header{
    background-image: url(register.jpg);
   height: 100vh;
}
nav{
    background-color: black;
    height: 8vh;

}
nav a{
    background-color: transparent;
    text-decoration: none;
    font-size: 30px;
    margin-left: 10px;
    color: antiquewhite;
    

}
nav a:hover{
    border-bottom: 2px solid;
    transition: 0.3s;
    animation-fill-mode: both;
}
.main{
    display: flex;
    flex-direction: column;
   align-items: center;                   
   
}
.child1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid;
    margin-top: 10px;
    padding: 38px;
    padding-toplter:  -88px;
    backdrop-filter: blur(5px);
     border-radius: 15px;

} 
.child1 h2{
    color: white;
    text-align: center;
    margin-top: -40px;
    
}
.child1 input{
    margin: 10px;
    padding: 18px;
    border: 1px solid;
    border-radius: 10px;
    color: rgb(24, 43, 43);
    font-size: 20px;

}
.child1 input:hover{
    color: rgb(32, 53, 53);
    border-bottom: 6px solid;
    border-color: rgb(25, 34, 34);
    transition: 0.4s;
}
.child1 .submit{
    background-color: black;
    color: white;
    border-radius: 30px;

}
.child1 p{
    color: wheat;
    font-family: century;
    margin-top: 30;
    padding-right: 20px;

}
.child1 a{
color: rgb(248, 244, 246);
padding-left: 20px;
font-size: 20px;


}
.child1 a:hover{
    background-color: white;
    border-radius: 10px;
    color: rgb(235, 228, 228);
    padding: 10px;
    text-decoration: none;
}